.container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    background-color: royalblue;
}
.div1 {
    width: 50%;
    height: 150px;
    margin: 10px;
    background-color: red;
}
.div2 {
    width: 50%;
    height: 150px;
    margin: 10px;
    background-color: red;
}
.div3 {
    width: 50%;
    height: 150px;
    margin: 10px;
    background-color: red;
}